In [1]:
# Marius Arlauskas MGDMI-0 LAB2 gynimas 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
rez = []
for i in range(1, 84):
    rez.append((5 + i) % 83)

len(set(rez)) == 83 # Ar generatorius 5 sudetyje? Taip :)

True

In [14]:
rez = []
for i in range(1, 84):
    rez.append((5 * i) % 83)

len(set(rez)) == 83 # Ar generatorius 5 daugyboje? Taip :)

True

In [20]:
rez = []
for i in range(1, 84):
    rez.append((14 * i) % 83)

len(set(rez)) == 83     # Ar generatorius 14 daugyboje? Taip :) <---- papildomas generatorius

True

In [23]:
# generate sum table
sum_table = []
for i in range(1, 84):
    for j in range(1, 84):
        sum_table.append((i + j) % 83)

# generate product table
prod_table = []
for i in range(1, 84):
    for j in range(1, 84):
        prod_table.append((i * j) % 83)

# reshape to 83x83
sum_table = np.array(sum_table).reshape(83, 83)
prod_table = np.array(prod_table).reshape(83, 83)

# table to df
sum_df = pd.DataFrame(sum_table)
prod_df = pd.DataFrame(prod_table)

In [24]:
sum_df.to_csv('sum_table.csv', index=False)
prod_df.to_csv('prod_table.csv', index=False)

,0,1,2,3,4,5,6,7,8,9,...,73,74,75,76,77,78,79,80,81,82
0,2,3,4,5,6,7,8,9,10,11,...,75,76,77,78,79,80,81,82,0,1
1,3,4,5,6,7,8,9,10,11,12,...,76,77,78,79,80,81,82,0,1,2
2,4,5,6,7,8,9,10,11,12,13,...,77,78,79,80,81,82,0,1,2,3
3,5,6,7,8,9,10,11,12,13,14,...,78,79,80,81,82,0,1,2,3,4
4,6,7,8,9,10,11,12,13,14,15,...,79,80,81,82,0,1,2,3,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,80,81,82,0,1,2,3,4,5,6,...,70,71,72,73,74,75,76,77,78,79
79,81,82,0,1,2,3,4,5,6,7,...,71,72,73,74,75,76,77,78,79,80
80,82,0,1,2,3,4,5,6,7,8,...,72,73,74,75,76,77,78,79,80,81
81,0,1,2,3,4,5,6,7,8,9,...,73,74,75,76,77,78,79,80,81,82
82,1,2,3,4,5,6,7,8,9,10,...,74,75,76,77,78,79,80,81,82,0

In [25]:
# find inverse of 17
for i in range(1, 84):
    if (17 * i) % 83 == 1:
        print(i) # 51

44

In [27]:
# find inverse of 21
for i in range(1, 84):
    if (21 * i) % 83 == 1:
        print(i) # 4

4

In [28]:
# find opposite of 17   
for i in range(1, 84):
    if (17 + i) % 83 == 0:
        print(i) # 66

66

In [29]:
# find opposite of 21
for i in range(1, 84):
    if (21 + i) % 83 == 0:
        print(i) # 62

62